.fondo{
    background-image: url(images/blanco.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 20em;
}

.kdxEnc{
    font-size:x-large;
    background-color:antiquewhite;
    margin-left:5%;
}